<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arionum.net.cubedpixels">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        name=".MainActivity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.HomeView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity android:name=".views.QRview">
        </activity>
        <activity
            android:name=".views.IntroActivity$IntroViewActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>

        <activity
            android:name=".views.IntroActivity$PreIntroAcitivity"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>

        <activity
            android:name=".views.IntroActivity"
            android:theme="@style/Theme.Intro" />
        <activity android:name=".views.PasswordView" />

        <service
            android:name="arionum.net.cubedpixels.service.TransactionListenerService"
            android:enabled="true" >
        </service>


        <receiver
            android:name="arionum.net.cubedpixels.service.ServiceStopListener"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="cubedpixels.arionum.restart.service" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

        </receiver>


    </application>

</manifest>